<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeScribe</title>
  </head>
  <body>
    <h1>TimeScribe</h1>
    <div id="chat-box"></div>
    <div id="listening-box"></div>
    <input type="text" id="user-input" placeholder="Start logging..." />
    <button onclick="sendMessage()">Send</button><br>
    
    <button onclick="startRecordingLive()">Start Recording 🎤</button>
    <button onclick="stopRecordingLive()">Stop Recording 🛑</button><br>
    <input type="checkbox" id="voice-output" /><label for="voice-output">Enable Voice Output</label>
    
    <!--ACTION: Add Summarize command-->
    <!--ACTION: Add Recall command-->
    <!--ACTION: Add Speak command-->
    <br>
    <button onclick="window.location.href='/login'">Logout</button>    
    <script src="/static/script.js"></script>

    <label for="date-input">Start Date:</label>
    <input type="date" id="date-input" name="entry-date" required />
    <label for="date-input">End Date:</label>
    <input type="date" id="date-input" name="entry-date" required />
  </body>
</html>
