<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeScribe</title>
  </head>
  <body>
    <h1>TimeScribe Login</h1>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" id="user_id" name="user_id" required placeholder="User ID"/>
      <button type="submit">Login</button>
    </form>

    <script src="/static/script.js"></script>
  </body>
</html>
